<div class="links">
<h1>Project links</h1>

<div class="link">
<a class="active" href="{{ site.url }}">
<h1>Home</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/LEDCube">
<h1>GitHub Repository</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/LEDCube/issues">
<h1>Bug Tracker</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="//github.com/hotwolf/LEDCube/wiki">
<h1>Wiki</h1>
</a>
</div><!--<div id="link">-->

<div class="link">
<a class="active" href="Slides_Day1.sozi.html">
<h1>Workshop Slides 1/2</h1>
</a>
</div><!--<div id="link">-->

</div><!--<div id="links">-->

